<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617776416291-gkha1tbv5mjpesr7824fik2o7tupujvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617776416291-gkha1tbv5mjpesr7824fik2o7tupujvj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>617776416291-0d3tk8t1v0srkjkpnbnid65pn13kfcg6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANYG6lcAaPwlM-OZGkqmlDeD8UoLmhV0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>617776416291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.emotifyapp</string>
	<key>PROJECT_ID</key>
	<string>emotify-ce9f3</string>
	<key>STORAGE_BUCKET</key>
	<string>emotify-ce9f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617776416291:ios:f8e4b3d8d526f8f380d396</string>
</dict>
</plist>